.card-container {
    width: 30%;
    border: 4px solid rgb(0, 162, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    box-shadow: 5px 5px 15px 5px #000000;
}

.card-top-part {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-name {
    color:rgb(225, 226, 226);
}

.card-avatar-container {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 3px solid #000;
    margin-bottom: 40px;
}

.card-avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.card-line {
   border-top: 3px solid #000;
   width: 100%;
}

.medals-container {
    display: flex;
    justify-content: space-between;
    width: 20rem;
}

.medal-quant {
    font-size: 40px;
}

@media (max-width: 1150px) {
    .card-container {
        width: 45%;
    }
}

@media (max-width: 730px) {
    .card-container {
        width: 60%;
    }
}

@media (max-width: 550px) {
    .card-container {
        width: 90%;
    }

    .medals-container {
        width: 15rem;
    }
}